<phpunit
	bootstrap="tests/woocommerce/legacy/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="default">
			<directory suffix="Test.php">./tests/phpunit/</directory>
		</testsuite>
	</testsuites>
</phpunit>
